<div class="form_container">
<%= form_with(model: @home, local: true, url: choose_new_or_edit) do |form| %>
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2><%= @home.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @home.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="home_content">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <%= form.submit "投稿する" %>
<% end %>
  </div>
<%= link_to "投稿一覧画面に戻る", homes_path %>
