<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../app/assets/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="../app/assets/stylesheets/normalize.css">
    <link rel="stylesheet" href="../app/assets/stylesheets/form.css">
    <title>CloneSNS</title>
  </head>
  <body>
    <header>
      <h1>CloneSNS</h1>
      <p>確認画面</p>
    </header>
  <div class="container">
    <h3>以下の内容で、投稿する。</h3>

    <%= form_with(model: @home, url: homes_path, local: true) do |form| %>
      <%= form.hidden_field :content %>

      <p>本文:<%= @home.content %></p>
      <%= form.submit  "投稿する", class: "btn btn-submit" %>

      <%= form.submit "戻る", name: 'back', class: "btn btn-back" %>
    <% end %>
  </div>
  <footer>
    <p>Since 2019</p>
  </footer>
  </body>
</html>
