<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>CloneSNS</title>
  </head>
  <body>
    <header>
      <h1>CloneSNS</h1>
      <p>確認画面</p>
    </header>
  <div class="container">
    <h3>以下の内容で、投稿する。</h3>

    <%= form_with(model: @home, url: homes_path, local: true) do |form| %>
      <%= form.hidden_field :content %>

      <p>本文:<%= @home.content %></p>
      <div class="btn-submit btn">
      <%= form.submit  "投稿する" %>
      </div>

      <div class="btn-back">
      <%= form.submit "戻る", name: 'back' %>
      </div>
    <% end %>
  </div>
  <footer>
    <p>Since 2019</p>
  </footer>
  </body>
</html>
