<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../app/assets/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="../app/assets/stylesheets/normalize.css">
    <title>CloneSNS</title>
  </head>
  <body>
    <header>
      <h1>CloneSNS</h1>
      <p>トップページです</p>
    </header>
    <div class="top_content">
      <h2>すべての投稿</h2>
      <p><%= notice %></p>
      <table>
        <tr>
          <th>内容</th>
        </tr>
        <% @homes.each do |home| %>
          <tr>
            <td><%= home.content %></td>
            <td><%= link_to '詳細を確認する', home_path(home.id) %></td>
            <td><%= link_to '投稿を編集する', edit_home_path(home.id) %></td>
            <td><%= link_to '投稿を削除する', home_path(home.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
          </tr>
        <% end %>
      </table>
      <%= link_to '作成画面へ', new_home_path %>
    </div>
  <footer>
    <p>Since 2019</p>
  </footer>
  </body>
</html>
